*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* background: #6d0023; */
    background-image: url(to-do-list-text-on-note-pad\ \(1\).webp);
   
  
}
.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    border-radius: 30px;
    transform: translate(-50%,-50%);
}
#newtask{
    position: relative;
    padding: 30px 20px;
    border-radius: 89px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #6e5c5c;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    border-radius: 6px;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec19;
    border-radius: 50px;
}
#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: red;
    border: none;
    color: #ffffffc8;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#newtask button:hover{
    background-color: #c5e1e6;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 30px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #02171e;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 90px;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff00;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 500px;
}